<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @person2.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @person2.last_name %>
</p>

<p>
  <strong>Date of birth:</strong>
  <%= @person2.date_of_birth %>
</p>

<p>
  <strong>Age:</strong>
  <%= @person2.age %>
</p>

<%= link_to 'Edit', edit_person2_path(@person2) %> |
<%= link_to 'Back', person2s_path %>
